#container {
    margin: 15px;
}

.monitor-entry {
    float:left;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding: 5px;
    overflow: auto;
}

.monitor-entry h2 {
    text-decoration: underline;
    font-size: 22px;
}

.monitor-label {
    color: black;
}

.monitor-label:hover {
    color: black;
}

.live {
    background-color: green;
}

.out {
    background-color: red;
}

.monitor-remove {
    text-decoration: none;
    color: black;
}

.monitor-remove:hover {
    color: black;
}

